:root {
    --primary-text-colour: #212121;
    --accent-text-colour: #2196F3;
    --background-colour: #FFFFFF;
    --black-colour: #000;
    --grey-colour: #2F303A;
    --light-grey-colour: #757575;
    --for-one-white: #F5F4FA;
}
body {
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-colour);
}

.logo-two {
    color: var(--black-colour);
}

.logo-three {
    color: var(--background-colour);
}
.des-for-business {
    background-color: var(--grey-colour);
}


.order {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--accent-text-colour);
    color: var(--background-colour);

}
.decidions {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-colour);
    background-color: var(--grey-colour);
}
ul {
    list-style: none;
}
.header-list:hover, 
.header-list:focus,
.footer-list:hover
.footer-list:focus {
    color: var(--accent-text-colour);
}

.header-buttons {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);

}
.header-buttons:hover, 
.header-buttons:focus {
    color: var(--accent-text-colour);
}


.phone, .email {
    color: var(--light-grey-colour);
    font-weight: 500;
}

.phone:focus,
.phone:hover{
    color: var(--accent-text-colour);
}

.email:focus, 
.email:hover {
    color: var(--accent-text-colour);
}
.p-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-grey-colour);
}

.our-team, .what-we-do, .nashi-osobennosti {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-of-team {
    background-color: var(--for-one-white);
}

.name-surname {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.team-item {
    background-color: var(--background-colour);
}

.our-sp {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-list {
    font-style: normal;
}
.section-footer {
    background-color: var(--grey-colour);
}
.where {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-colour);
    background-color: var(--grey-colour);
}

.where:hover, .where:focus {
    color: var (--accent-text-colour);
}

.buttons-ptf:hover,
.buttons-ptf:focus {
    background-color: var (--accent-text-colour);
    color: var(--background-colour);
}

.buttons-ptf {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
